PORT=
MONGO_URI=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
CORS_ORIGIN=
FRONTEND_URL=

EMAIL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIRECT_URL=

NODE_ENV= # "production"

INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=